
body {
    overflow: hidden;
}

/* LOGIN FORM */
.login {
    padding: 5px 0;
    float: right;
}
#findUser {
    float: right;
}
#findStrategy {
    float: right;
    border: none;
    margin-right: 16px;
}
#findNotification {
    float: right;
}
#findScript {
    float: right;
}
.login input[type="text"],
.login input[type="password"] {
    padding: 5px;
    margin-right: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
}
.login input[type="submit"] {
    border: 1px solid lightgrey;
    border-radius: 5px;
}
.textarea-inline {
    margin-top: 20px;
    width: 46%;
    text-align: center;
}
#sellScript {
    margin-left: 39px;
}
#showScripts {
    margin-top: 7px;
    margin-bottom: 7px;
    width: 75%;
}
#lock,#unlock {
    width: 23%;
    margin-top: -3px;
    margin-bottom: -7px;
    position: relative;
    left: 77%;
    top: -34px;
}
.selectUsers {
    position: relative;
    left: 74%;
    top: -309px;
    width: 25%;
}
#textEditor {
    width: 73%;
    position:relative;
    top: -13px;
}
#notification {
    width: 55%;
}
#users {
    border: 1px solid #999999;
    height: 200px;
    padding: 10px;
    overflow: scroll;
}
label[for="datepicker"] {
    margin-top: 50px;
}
.floating-box{
    display: inline-block;
}
.cpicker{
    border-color: grey;
}
#dropdownMenu1, #dropdownMenu2{
    height: 27px;
}
#exampleSelect1,#exampleSelect2, #exampleSelect3 {
    padding: 0 0;
    height: 27px;
}

.validMessage {
    color: #999999;
    font-size: 13px;
}
.input-group-addon{
    padding: 0 0 !important;
    width: 35px !important;
    height: 27px !important;
}
.inlinepicker{
    top:10px !important;
    position: relative
}
.cpborders{
  border-width:1px  !important;
}
.strtgbtn{
    height: 30px;
    padding-top:0 !important;
    padding-bottom: 0 !important;
    border-radius: 5px;
}
.well{
    margin-top: 0px !important;
    margin-bottom: 0 !important;
    padding-left: 19px !important;
    padding-right: 92px !important;
    padding-top: 5px !important;
    padding-bottom: 0 !important;
}
.left{
float: left;
}
.right{
float: right;
}
#deleteUserInfo .modal-dialog {
    position:relative;
    top: 31%;
}
#deleteUserInfo .modal-header, #deleteUserInfo .modal-footer {
    padding: 3px;
}
#deleteUserInfo .modal-footer button {
    width: 18%;
    height:28px;
    padding: 0;
    border-radius: 5px;
}

#deleteUserInfo .modal-content {
    width: 70%;
    margin: 0 auto;
}
#deleteUserInfo .modal-body {
    padding: 5px;
}

#deleteStrategyInfo .modal-dialog, #deleteNotificationInfo .modal-dialog, #deleteScriptInfo .modal-dialog {
    position: relative;
    top: 31%;
}
#deleteStrategyInfo .modal-header, #deleteStrategyInfo .modal-footer, #deleteScriptInfo .modal-header, #deleteScriptInfo .modal-footer
{
    padding: 3px;
}
#deleteStrategyInfo .modal-footer button, #deleteScriptInfo .modal-footer button {
    width: 18%;
    height: 28px;
    padding: 0;
    border-radius: 5px;
}
#deleteStrategyInfo .modal-content, #deleteScriptInfo .modal-content {
    width: 70%;
    margin: 0 auto;
}
#deleteStrategyInfo .modal-body, #deleteScriptInfo .modal-body {
    padding: 5px;
}

#deleteNotificationInfo .modal-dialog, #deleteNotificationInfo .modal-dialog {
    position: relative;
    top: 31%;
}
#deleteNotificationInfo .modal-header, #deleteNotificationInfo .modal-footer {
    padding: 3px;
}
#deleteNotificationInfo .modal-footer button {
    width: 18%;
    height: 28px;
    padding: 0;
    border-radius: 5px;
}
#deleteNotificationInfo .modal-content {
    width: 70%;
    margin: 0 auto;
}
#deleteNotificationInfo .modal-body {
    padding: 5px;
}

/*For small size Strategy modal*/
textarea {
    resize: none;
}

#createStrategy {
    font-size: 13px;
}
#createStrategy .form-group {
    margin-bottom: -13px !important;
    margin-top: -18px;
}
#createStrategy .modal-header, #addUser .modal-header, #editUser .modal-header, #createNotification .modal-header, #createScript .modal-header, #editScriptModal .modal-header {
    padding: 7px 15px !important;
}
#createStrategy .modal-body {
    padding-bottom: 0;
}
#createStrategy .modal-footer, #addUser .modal-footer, #editUser .modal-footer, #createNotification .modal-footer, #createScript .modal-footer, #editScriptModal .modal-footer {
    padding-top: 5px;
    padding-bottom: 5px;
}
#createStrategy .modal-footer > button, #addUser .modal-footer > button, #editUser .modal-footer > button, #createNotification .modal-footer > button, #createScript .modal-footer > button, #editScriptModal .modal-footer > button

{
    width: 20%;
    padding: 5px;
    border-radius: 6px;
}
#strategyName {
    height: 30px !important;
}
#exampleSelect1, #exampleSelect2 {
    position: relative;
    top: 2px;
}
#exampleSelect3 {
    position:relative;
    top:6px;
}
.sellBar div:first-child {
    position: relative;
    right: 99px;
    top: -7px;
}
.buyBar span:first-child {
    position:relative;
    top: 11px;
}
#span4 {
    position:relative;
    left: 89px;
    top: -23px;
}
#span5 {
    position: relative;
    top: -41px;
    right: 9px;
}
#createNotification .modal-body{
    padding-top: 1px;
    height: 462px;
}
#createNotification .modal-footer {
    position: relative;
    top: -296px;
}

.fa.fa-caret-down, .fa.fa-caret-up, .fa.fa-caret-left, .fa.fa-caret-right{
    font-size: 20px !important;
}

.buySellSignals .sellSignall .dropdown ul.dropdown-menu, .buySellSignals .buySignall .dropdown ul.dropdown-menu {
    min-width: 37px !important;
}
.buySellSignals .sellSignall .dropdown ul.dropdown-menu li span, .buySellSignals .buySignall .dropdown ul.dropdown-menu li span {
    position: relative;
    left: 10px;
}
.usersCheckbox {
    margin-bottom: 0;
}
#checkAll {
    font-weight: normal;
    margin-bottom: 5px;
    height: 24px;
}
.mce-menubtn.mce-fixed-width span {
    width: 30px !important;
}
#editUserStrategy, #editUserScript {
    overflow-y: scroll;
}
#strategyTable, #scriptTable {
    text-align: center;
    width: 100%;
}
#strategyTable th, #scriptTable th {
    text-align: center;
}
.tdStrategyName {
    width: 50%;
    text-align: left;
    padding-left: 5px;
}
.tdScriptName {
    text-align: left;
    padding-left: 5px;
}
.tdExpirationDate {
    width: 25%;
}
.datepicker2 {
    text-align: center;
}
/*.tdEnabled {*/
    /*padding: 6px;*/
/*}*/
#test {
    position: relative;
    left: 20%;
    border: 1px solid black;
}
#editUser .modal-body div.form-group {
    position: relative;
    left: -8%;
    width: 86%;
    height: 60px;
}
button#saveOrder {
    position: relative;
    top: -80px;
    left: 331px;
    border-radius: 5px;
}
input#editUsrname {
    height: 33px;
}
#editUser .modal-dialog {
    position: relative;
    top: 22%;
}
#editUser .form-goup {
    margin-bottom: 0px;
}

#editUser .modal-content {
    width: 150%;
    left: -25%;
}
#editUser .modal-body > .modal-body {
    position: relative;
    left: 4%;
}
button#edit_user {
    position: relative;
    left: 102%;
    top: -33px;
    height: 33px;
    padding: 0 44px;
    border-radius: 10px;
}
#addUser .modal-body, #createScript .modal-body, #editScriptModal .modal-body {
    padding: 0 8px;
}
#addUser .modal-content {
    width: 70%;
    margin: 0 auto;
}
#addUser .form-group {
    margin-bottom: 0;
}
#addUser .form-group input {
    height: 33px;
}
#addUser .modal-dialog, #createScript .modal-dialog, #editScriptModal .modal-dialog {
    position: relative;
    top: 18%;
}
#tableStrategyLines {
    overflow: scroll;
    position: relative;
    height: 166px;
    top: -20px;
}

#createStrategy .modal-content {
    width: 119%;
    margin: 0 auto;
}
#createStrategy .floating-box.inputName {
    width: 66%;
}
#createStrategy textarea {
    width: 106%;
}
#labelPlotSignalID {
    position: relative;
    top: 20px;
    left: -112px;
}
.sellSignall {
    position: relative;
    top: 9px;
    left: 36px;
}
.buySignall {
    position: relative;
    right: 55px;
    top: 10px;
}
.buyBar {
    position: relative;
    top: -5px;
    left: 36px;
}
.sellBar {
    position: relative;
    top: 13px;
    left: -9%;
}
#tableStrategyLines table tr td:nth-child(2) {
    text-align: center;
}
#tableStrategyLines table tr td, #tableStrategyLines table th {
    padding-left: 4px !important;
    padding-right: 4px !important;
    padding-top: 3px;
    padding-bottom: 0;
}
#notificationName {
    height: 33px;
}
/*!*Media query*!*/
@media only screen and (max-width : 1679px) {
    .selectUsers {
        top: -311px;
    }
}
#home, #menu1, #menu2, #ScannerScript {
    width: 100%;
}

input[type='file'] {
    opacity: 0;
    font-size: 2px;
    padding: 0;
    margin: 0;
    border: none;
    position: relative;
    left: 221px;
    top: -39px;
    cursor: pointer;
    height: 29px;
}

#export {
    position: relative;
    top: -80px;
    left: 279px;
}
#menu1 h2.collection-title {
    position: relative;
    top: -80px;
}
#strategyGridID {
    position: relative;
    top: -80px;
}

#changeLockedStrategy {
    z-index: 10000;
}
#changeLockedStrategy .modal-header {
    padding: 4px;
}
#changeLockedStrategy .modal-header h4, #passwordLockedStrategy .modal-header h4 {
    font-size: 15px;
}
#changeLockedStrategy .modal-body .modal-body, #passwordLockedStrategy .modal-body .modal-body {
    padding: 0 5px !important;
}
#changeLockedStrategy .modal-content, #passwordLockedStrategy .modal-content {
    width: 57%;
    position: relative;
    left: 32%;
}
#changeLockedStrategy .modal-dialog, #passwordLockedStrategy .modal-dialog {
    position: relative;
    top: 20%;
}
#changeLockedStrategy .modal-footer > button, #passwordLockedStrategy .modal-footer > button {
    width: 20%;
    padding: 5px;
    border-radius: 6px;
}
#changeLockedStrategy .modal-footer, #passwordLockedStrategy .modal-footer {
    padding: 3px;
}
#changeLockedStrategy .form-group input, #passwordLockedStrategy .form-group input {
    height: 30px;
}
#passwordLockedStrategy .modal-body {
    padding: 6px;
}
.dropdown-menu .divider {
    margin: 0.5px 0 !important;
}

/*Scanner Script Style*/
#createScript .modal-content, #editScriptModal .modal-content  {
    width: 80%;
    margin: 0 auto;
}
#createScript .modal-body p, #editScriptModal .modal-body p  {
    margin-bottom: 0;
}
#createScript .modal-body textarea, #editScriptModal .modal-body textarea {
    margin-bottom: 10px;
}
#ScriptName, #EditedScriptName {
    width: 87%;
    margin-bottom: 15px;
    height: 30px;
}
#IsFree, #EditedIsFree {
    float: right;
    position: relative;
    top: -40px;
    font-weight: normal;
}
#IsFree input[type="checkbox"], #EditedIsFree input[type="checkbox"] {
    position: relative;
    top: 1px;
}
/*/Scanner Script Style*/

@media only screen and (max-width : 1200px) {
    #editUser .modal-content {
        width: 129%;
        left: -16%;
    }
}
@media only screen and (max-width : 992px) {
    #editUserStrategy {
        width: 100% !important;
    }
    #editUser .col-md-4 {
        left: 0% !important;
    }
}

@media only screen and (max-width : 768px) {
    #editUser .modal-dialog {
        width: 64%;
        left: 20%;
    }
    #editUser .modal-body > .modal-body {
        left: 1%;
    }
    #strategyGridID, #usersGridID, #notificationGridID, #ScriptGridID {
        height: 61vh !important;
    }
    #createNotification .modal-dialog {
        width: 100% !important;
    }
}
@media only screen and (max-width : 438px) {
    #strategyGridID, #usersGridID, #notificationGridID, #ScriptGridID {
        height: 55vh !important;
    }
}
/*@media only screen and (min-height : 700px) {*/
    /*#strategyGridID, #usersGridID, #notificationGridID, #ScriptGridID {*/
        /*height: 69vh !important;*/
    /*}*/
/*}*/

/*@media only screen and (min-height : 930px) {*/
    /*#strategyGridID , #usersGridID, #notificationGridID, #ScriptGridID{*/
        /*height: 75vh !important;*/
    /*}*/
/*}*/
/*@media only screen and (max-height : 760px) {*/
    /*#strategyGridID, #usersGridID, #notificationGridID, #ScriptGridID {*/
        /*height: 63vh !important;*/
    /*}*/
/*}*/